html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #151515;
  color: #fff;
}

h2{
  font-size: 1.8rem;
  text-align: center;
}

.text-container {
  width: 80%;
  margin: auto;
}